html, body {
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

.info-container {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  text-align: center;
  height: 100%;

}

.info-container .container {
  flex: 1;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}
.info-container .header {
  text-align: center;
  padding: 20px 0;
}

.info-container .title {
  color: #2a2f6b;
  font-size: 400%;
  font-weight: bolder;
  text-align: center;
}

.info-container .main {
  padding: 20px;
  line-height: 3;
}

.info-container .section {
  margin-bottom: 20px;
}

.info-container .section-title {
  color: #2a2f6b;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.info-container .section-content {
  font-size: 17px;
  color: #181818;
  line-height: 2;
}

.info-container .section-content :last-child{
  margin-bottom: 20px;
}



.info-container .location iframe {
  width: 80%;
  border-radius: 20px;
  margin-right: 10%;
  margin-left: 10%;
  animation: fadeIn 2s;
}

.info-container .social-media a {
  color: #2a2f6b;
  transition: color 0.3s ease;
  padding: 10px;
}

.info-container .social-media a:hover {
  color: #007aff;
}

.info-container .footer {
  background-color: #2a2f6b;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-bottom: 0;
  margin-top: 20px;
}

.footer-text {
  margin: 0;
}

/* Animation for the map */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}