.scroll-watcher {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-right: 0;
  width: 100%;
  height: 10px;
  background-color: #2a2f6b;
  z-index: 1000;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
  transform-origin: left;
  scale: 0 1;
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}